
*, *::before, *::after {
  margin: 0;
  padding: 0;
	border: 0;
  box-sizing: border-box;
}

html {
  touch-action: manipulation; // 더블탭 방지
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 10px;
}

body {
  min-width: 320px;
  font-family: $appleText;
  background-color: var(--section-bg-color-dark);
}

ul, ol {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  display: block;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  box-shadow: none;
}

strong {
  color: #f5f5f7;
}

#wrap {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.sup-link {
  display: inline-block;
  text-decoration: underline;
  font-size: 1rem;
}

.section {
  position: relative;
  width: 100%;
}

.hidden {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  clip: rect(1px,1px,1px,1px);
}